body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
h1 {
  text-align: center;
  color: #000;
  font-weight: normal;
}
h2 {
  color: #000;
  font-family: trebuchet;
}
.headingFront {
  font-size: 44px;
  color: #272727;
  margin-bottom: 0;
}
.infoHead {
  font-size: 18px;
}
.infoBread {
  font-size: 14px;
}
.infoText {
  font-size: 22px;
}
.hide {
  display: none;
}
.hide button {
  height: 60px;
  font-size: 22px;
}
.description {
  width: 98%;
  padding: 10px;
  opacity: 0.7;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
}
.buttons {
  width: 20%;
  min-width: 245px;
}
.buttons button {
  font-size: 24px;
}
.game {
  padding: 0px;
}
.category {
  width: 20%;
  float: left;
  background-color: #ddd;
  padding: 15px;
  margin: 3px;
}
.point {
  cursor: pointer;
}
button {
  width: 100%;
  margin-bottom: 4px;
  min-height: 30px;
  background-color: #272727;
  cursor: pointer;
  color: rgb(168, 166, 166);
  border: none;
}
.FancyBorder-blue {
  color: blue;
  background-color: #f5f5f5;
  padding: 10px;
}
.question {
  padding: 10px;
  margin: 10px;
  float: left;
  font-size: 17px;
  text-align: center;
  color: #fff;
}
.questionText {
  font-size: 16px;
  text-align: center;
  min-height: 100px;
}
.answers {
  display: none;
}
.answer {
  background-color: lightskyblue;
  height: 60px;
}
body {
  font: 14px "trebuchet", Futura, sans-serif;
  margin: 20px;
}
.green {
  color: darkgreen;
}
.point {
  background-color: #000;
  cursor: pointer;
  font-size: 22px;
  border: none;
  color: #fff;
  padding: 0px;
}

@media screen and (max-width: 600px) {
  .category {
    width: 90%;
    margin: 0;
    margin-bottom: 3px;
  }
  body {
    margin: 10px;
  }
  .game {
    margin: 0;
  }
}
